@import 'variables';

.emoji {
  font-size: 2em;
}

#greeting {
  display: flex;
  align-items: center;

  &:hover {
    transition: filter 300ms;
    filter: drop-shadow(0 0 2em #646cffaa);

    .emoji {
      font-size: 2em;
      animation: waving-hand 2.5s infinite;
      transform-origin: 70% 70%;
    }
  }
}


@keyframes waving-hand {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.terminal-card {
  width: 52vw;
  max-width: 42rem;
  background-color: rgba(49, 117, 235, 0.3);
  border: 1px solid #4a5568;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-block: 1em;
  @media (max-width: 768px) {
    width: 85vw;
  }
}

.terminal-header {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #2d3748;

  .terminal-button {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    margin-right: 0.5rem;

    &.red {
      background-color: #f56565;
    }

    &.yellow {
      background-color: #ecc94b;
    }

    &.green {
      background-color: #48bb78;
    }
  }
}

.terminal-content {
  padding: 1rem;
  font-family: monospace;
  font-size: 1.5em;
  color: inherit;
  // white-space: pre-wrap;
}

.cursor {
  animation: blink 1s step-end infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}