Form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  background-color: #0d1832;
  box-shadow: 24;
  border: 2px solid rgb(49, 117, 235);
  border-radius: 10px;
  padding: 2em;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#email {
  display: flex;
}

#location {
  display: flex;
}

.field {
  width: 20em;
  background-color: rgba(49, 117, 235, 0.2);

}

#form-button {
  width: 10em;
}

.contact-icon {
  padding-right: 10px;
}