@import 'variables';

.projects {
  display: flex;
  width: 100%;

  border: solid;
  background-color: rgba(49, 117, 235, 0.2);
  border-color: inherit;
  border-radius: 10px;
  justify-content: center; // Center align all project cards
}

.project {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
  max-width: 95%;
  max-height: 80%;
  box-sizing: border-box; // Include padding in width calculation

  .phone-app {
    width: 40vh;

    @media (max-width: 768px) {
      // max-width: 75%;
      width: 40vw;
    }
  }

  img {
    margin: 1em 0;
    width: 52vw;
    max-width: 95%; // Ensure image doesn't exceed 95% of the card width
    height: auto;
    border-radius: 10px;
    overflow: hidden;

    &:hover {
      border: 2.5px solid rgb(33, 224, 84); // Green border on hover
    }

    @media (max-width: 768px) {
      width: 80vw;
      max-width: 95%;
    }
  }
}

.project-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 1em 0;
  font-size: 1.2em;
  color: inherit;

  h1 {
    padding-right: 0.5em;
  }
}

.description {
  margin-bottom: 1em;
  padding: 1em 1em;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.2); // Transparent background
  border-radius: 8px;
  max-width: 95%; // Ensure description also stays within 95% width
}
