@import 'variables';

h3 {
  display: flex;
  align-items: center;
}

.title_icon {
  padding-right: 0.5em;
}

.skill-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: solid;
  border-color: inherit;
  border-radius: 10px;
  padding: .5em;
  margin-bottom: 1em;
  background-color: rgba(49, 117, 235, 0.2);
}

.sub-section {
  display: flex;
  flex-wrap: wrap;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 1em;
}

.icon img {
  width: 2em;
  // height: 7vw;
}