header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 30vw;
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  button {
    width: 25vw;
  }
}

section {
  height: 100vh;
  width: 60vw;
  margin-left: 35vw;
  padding-inline: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: center;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: white;
  -webkit-border-radius: 1ex;
}

html {
  scroll-snap-type: y mandatory;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25vw;
}

.emoji {
  font-size: 2em;
}

#greeting:hover {
  transition: filter 300ms;
  filter: drop-shadow(0 0 2em #646cffaa);
  .emoji {
    font-size: 2em;
    animation: waving-hand 2.5s infinite;
    transform-origin: 70% 70%;
  }
}

#hi {
  display: flex;
  align-items: center;
}

@keyframes waving-hand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#particles canvas{
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}